<!DOCTYPE html>
<html lang="en">
    <!-- Fontawesome -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Mobirise CSS -->
    <link rel="stylesheet" href="theme/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="theme/css/style.css">
    <link rel="stylesheet" href="theme/css/mobirise/css/mbr-additional.css" type="text/css">
    <meta name="viewport" content="width=device-width">
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
