{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}
    <section class="row cid-qxF9tMPSBX mbr-parallax-background" id="header2-0" data-rv-view="855">
        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(79, 73, 67);"></div>
        <div class="col-xs-12 container align-center">
            <div class="row justify-content-md-center">
                <div class="mbr-white col-md-10">
                    <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                        The Holstein House<br>
                    </h1>
                    <h2 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                        A Place to Gather
                    </h2>
                    <p class="mbr-text pb-3 mbr-fonts-style display-5">
                        For Scrapbooking, Sewing, Knitting, Crafting, and Quilting
                    </p>
                    <div class="margin-left-15">
                        <a class="btn btn-md btn-secondary display-4" href="#contact">CONTACT</a>
                        <a class="btn btn-md btn-white-outline display-4" href="#rates">RATES</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row cid-qyjAO9ptzh">
        <div class="col-xs-12 container">
            <h2 class="align-center pb-3 mbr-fonts-style display-2">
                Welcome
            </h2>
        </div>
    </section>
    <section class="row features2 cid-qySmbUmm5k" id="features2-i" data-rv-view="860">
        <div class="col-xs-12 container">
            <div class="media-container-row margin-left-15">
                <div class="card p-3">
                    <div class="card-wrapper">
                        <div class="card-img">
                            <img src="theme/images/studio.jpg" alt="Mobirise" title="" media-simple="true">
                        </div>
                        <div class="card-box">
                            <h4 class="card-title pb-3 mbr-fonts-style display-7">
                                Craft
                            </h4>
                            <p class="mbr-text mbr-fonts-style display-7">
                                Large former dining room filled with six 8 foot tables. Design board ready for quilt and project layouts.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card p-3">
                    <div class="card-wrapper">
                        <div class="card-img">
                            <img src="theme/images/porch.jpg" alt="Mobirise" title="" media-simple="true">
                        </div>
                        <div class="card-box ">
                            <h4 class="card-title pb-3 mbr-fonts-style display-7">
                                Relax
                            </h4>
                            <p class="mbr-text mbr-fonts-style display-7">
                                Wrap around porch with surrounding views of the beautiful country side. 4 large bedrooms with enough comfortable twin beds for 12.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card p-3">
                    <div class="card-wrapper">
                        <div class="card-img">
                            <img src="theme/images/dining.jpg" alt="Mobirise" title="" media-simple="true">
                        </div>
                        <div class="card-box">
                            <h4 class="card-title pb-3 mbr-fonts-style display-7">
                                Cook
                            </h4>
                            <p class="mbr-text mbr-fonts-style display-7">
                                Large farm kitchen with lots of room for cooking and eating. Equipped with plenty of pots, pans, and other cooking tools. 
                            </p>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </section>
    <section 
        class="row testimonials3 cid-qxFndEc6s9"
        id="testimonials3-4"
        data-rv-view="872">
        <div class=" col-xs-12 container">
            <div class="media-container-row margin-left-15">
                <div class="media-content px-3 align-self-center mbr-white py-2 mbr-fonts-style mbr-text counter-container">
                    <h3 class="card-title pb-3 align-center">
                        What We Have
                    </h3>
                    <ul>
                        <li><strong>Project Room&nbsp;</strong>
                            - 15 workspaces. 1 iron and ironing board. 1 design board.&nbsp;
                        </li>
                        <li><strong>Kitchen&nbsp;</strong>- Gas stove, dishwasher, microwave, coffeemaker (and filters), toaster, hand mixer, blender, crock pot.</li>
                        <li><strong>Bedrooms</strong>&nbsp;- Each with 2 to 4 twin beds. Sleeps 12 comfortably.</li>
                    </ul>
                </div>
                <div class="media-content px-3 align-self-center mbr-white py-2 mbr-fonts-style mbr-text counter-container">
                    <h3 class="card-title pb-3 align-center">
                        What to Bring
                    </h3>
                    <ul>
                        <li><strong>Sewing Supplies</strong>
                            - Sewing machine, thread, etc.<br/><br/>
                        </li>
                        <li><strong>Scrapbooking Supplies</strong>
                            - Scissors, paper, kits, Cricket, etc.<br/><br/>
                        </li>
                        <li><strong>Recipes</strong>
                            - Bring your favorites or try a new one.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section
        name="rates"
        class="row testimonials3 cid-qxFmUG73Xe"
        id="rates"
        data-rv-view="872">
        <div class="col-xs-12 container">
            <div class="media-container-row margin-left-15">
                <div class="media-content align-self-center mbr-white py-2 mbr-fonts-style mbr-text counter-container">
                    <h3 class="card-title pb-3 align-center">
                        Rates
                    </h3>
                    <ul>
                        <li>
                            <strong>$45&nbsp;</strong>
                            - Sunday - Thursday.<br>
                        </li>
                        <li>
                            <strong>$55&nbsp;</strong>
                            - Friday - Saturday.<br>
                        </li>
                        <li>
                            <strong>2 night&nbsp;</strong>
                            minimum stay.<br>
                        </li>
                        <li>
                            <strong>4 person&nbsp;</strong>
                            minimum per night.<br>
                        </li>
                    </ul>
                </div>
                <div class="mbr-figure pl-lg-5 width-130-percent">
                    <img src="theme/images/bedroom.jpg" alt="" title="" media-simple="true">
                </div>
            </div>
        </div>
    </section>
    <section
        name="contact"
        class="row testimonials2 cid-qxFndEc6s9" 
        id="contact" 
        data-rv-view="872">
        <div class="col-xs-12 container">
            <div class="media-container-row margin-left-15">
                <div class="mbr-figure pr-lg-5 width-130-percent">
                    <iframe
                        width="100%"
                        height="400"
                        frameborder="0"
                        scrolling="no"
                        marginheight="0"
                        marginwidth="0" 
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2870.9577638808814!2d-88.063761!3d43.98092299999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88037113c81b9027%3A0x7e28fce56e723c4f!2sN2547+Co+Rd+T%2C+New+Holstein%2C+WI+53061!5e0!3m2!1sen!2sus!4v1437779582728"
                        width="600"
                        height="450"
                        frameborder="0"
                        style="border:0"
                        allowfullscreen>
                    </iframe>
                </div>
                <div 
                    class="media-content px-3 align-self-center mbr-white py-2 mbr-fonts-style mbr-text counter-container">
                    <div class="row">
                        <div class="col-xs">
                            <span class="fa fa-phone fa-2x width-32"></span>
                        </div>
                        <div class="col-xs">
                            <span class="padding-left-10">
                                920.340.4241
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs">
                            <span class="fa fa-envelope fa-2x width-32"></span>
                        </div>
                        <div class="col-xs">
                            <span class="padding-left-10">
                                theholsteinhouse@gmail.com
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs">
                            <span class="fa fa-map-marker fa-2x width-32"></span>
                        </div>
                        <div class="col-xs">
                            <span class="col-xs padding-left-10">
                                N2547 County Road T New Holstein, WI 53061
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section 
        class="row footer4 cid-qxFgpWrmAE"
        id="footer4-2"
        data-rv-view="904">
        <div class="col-xs-12 container">
            <div class="footer-lower">
                <div class="media-container-row margin-left-15">
                    <div class="col-xs-12">
                        <hr>
                    </div>
                </div>
                <div class="media-container-row mbr-white margin-left-15">
                    <div class="col-xs-12 copyright">
                        <p class="mbr-text mbr-fonts-style display-7">
                            The Holstein House - A Place to Gather
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section> 
{% endblock %}
